.contactRow {
    margin-top: 2em;
    margin-left: 0em;
    margin-right: 0em;
}

.rajatonForm > div {
    margin-bottom: 0.5em;
    text-align: center;
}

.rajatonForm > div > input, .rajatonForm > div > textarea {
    border: 1px solid #bdbdbd;
    border-radius: 0;
}

.contactText {
    padding-left: 3em;
    padding-right: 1em;
}

.thankYou {
    margin: auto;
    width: 50%;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 992px) {

    .contactRow {
        padding-top: 2em;
    }

    .rajatonForm {
        padding-left: 1em;
        padding-right: 1em;
    }

    .contactText {
        padding-left: 2em;
        padding-right: 2em;
    }

    .thankYou {
        margin-top: 2.5em;
    }
}

@media (max-width: 768px) {

    .contactRow {
        margin-top: 1em;
        margin-bottom: 2em;
    }
}