.landingPage {
        min-height: 100vh;
        background-image: url("../assets/sumu_maisema_mainos_tuunattu_W.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 29% 50%;
}

.landingPageImage {
        z-index: 0;
        height: 12em;
        margin: auto;
        margin-top: 2em;
        display: block;
}

.shopNowButton {
        color: white;
        background-color: transparent;
        border: transparent;
        margin-top: 40vh;
        font-size: 1.1em;
}

.shopNowButton:hover {
        color: #c16c1d;
        stroke: #c16c1d;
}

.shopNowButton:focus {
        outline: 0;
}

.shopNowButton:active {
        text-shadow: 0 0 3px #325772;
}

.svg {
        fill: transparent;
        stroke: #fff;
        stroke-width: 4;
        stroke-linecap: butt;
}

@media (max-width: 768px) {

        .landingPageImage {
                height: 10em;
                position: absolute;
                margin-top: 2em;
                margin-left: 25%;
        }

        .shopNowButton {
                margin-top: 79vh;
                margin-left: -7%;
        }
}

@media (max-width: 400px) {

        .landingPageImage {
                height: 10em;
                position: absolute;
                margin-top: 2em;
                margin-left: 20%;
        }

        .shopNowButton {
                margin-top: 82vh;
                position: absolute;
                margin-left: -65%;
        }
}