.shopWindow {
    width: 100%;
    margin: 0;
    margin-top: -5em;
}

.shopWindowNewArrivals {
    width: 100%;
    margin: 0;
}

.productIconSmall {
    height: auto;
    width: 100%;
}

.centeredImage {
    text-align: center;
    line-height: 133%;
}

.productNameText {
    font-size: 1.5em;
}

.categoryText {
    font-size: 1em;
}

.newArrivalsImage {
    width: 100%;
    height: 50em;
    object-fit: cover;
}

.col1Indent {
    padding-top: 10em;
}

.newArrivalsText {
    padding-top: 10em;
    float: right;
}
.newArrivalsText > h2 {
    font-size: 3em;
    font-weight: 100;
    text-align: center;
    background-color: transparent;
}
.newArrivalsText > div {
    margin-top: 2em;
    text-align: center;
    background-color: transparent;
}

.greyButton {
    text-align: center;
    background-color: lightgray;
    border: none;
    padding: 8px 40px 8px 40px;
    margin-top: 1em;
    font-weight: 600;
}
.greyButton:hover {
    outline: 0;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.2), 0 3px 3px 1px rgba(0,0,0,0.19);
}
.greyButton:focus {
    outline: 0.5px solid grey;
}

.greyButton:active {
    outline: 0;
}

.newArrivalsImgCol {
    padding: 0;
}

@media (max-width: 768px) {

    .newArrivalsText {
        padding-top: 3em;
    }

    .newArrivalsImage {
        height: 24em;
    }

    .shopWindow {
        width: 100%;
        margin-top: -3em;
    }

    .greyButton:hover {
        box-shadow: none;
    }
}

@media (max-width: 400px) {

    .col1Indent {
        padding-top: 0em;
    }

    .newArrivalsText {
        padding-top: 2.5em;
    }

    .newArrivalsText > h2 {
        font-size: 2.5em;
    }

    .newArrivalsText > div {
        margin-top: 1em;
    }

    .newArrivalsP {
        margin-top: 1em;
    }

    .newArrivalsImage {
        margin-top: -0.6em;
    }
}