body {
    font-family: 'Hind', sans-serif;
    color: #223240;
    font-size: 1.2em;
}

body > #root > div {
    height: 100vh;
}

a {
    color: #223240;
}

a:hover {
    /* color: #667c8e; */
    color: #c16c1d;
    text-decoration: none;
}

/* Navigation bar settings */
.navbar-light .navbar-toggler {
    border-color: transparent;
}
.navbar-light .navbar-toggler:active, .navbar-light .navbar-toggler:focus {
    color: transparent;
    background-color: transparent;
    outline: 0;
}